[submodule "rmdev"]
	path = rmdev
	url = https://github.com/CQUT-RoboMaster-ShiJi-DREAMER-ECU-Team/rmdev.git
[submodule "emdevif_collection/emdevif"]
	path = emdevif_collection/emdevif
	url = https://github.com/CQUT-RoboMaster-ShiJi-DREAMER-ECU-Team/emdevif.git
[submodule "emdevif_collection/emdevif_stm32_peripheral"]
	path = emdevif_collection/emdevif_stm32_peripheral
	url = https://github.com/CQUT-RoboMaster-ShiJi-DREAMER-ECU-Team/emdevif_stm32_peripheral.git
