# choose st-link/j-link/dap-link etc.
source [find interface/stlink.cfg]

#transport select swd
transport select hla_swd

set CHIPNAME STM32F103C8T6

#这里的stm32f1x.cfg对应的是您的板子的相应芯片型号
source [find target/stm32f1x.cfg]

# download speed = 10MHz
adapter speed 10000

#原文链接：https://blog.csdn.net/iyt2017/article/details/132411792
